- if @current_user.nil?
  #main
    = render partial: "navbar"
    #banner
      = image_tag "banner_final3.jpg"

    .center{style: "padding-bottom:20px;"}
      #signup_explanation{style: "padding-top: 30px; padding-bottom: 50px;"}
        / %p
        /   Sign up before November 16th, 2013 for promotion prices.
        / #countdown_div
        /   #fan_countdown
        /   #note
        %p
          Babshuttle is now expanding to Chinese market! 
        %p Sign up for free to get you notified when our Chinese grocery delivery service launches.
        %br
        %button{href: "#signup_modal", class: "btn btn-primary", data: {toggle: "modal"}}
          Sign up
        = link_to "Sign up with facebook", user_omniauth_authorize_path(:facebook), class: "btn btn-primary"
        .modal.fade#signup_modal{tabindex: "-1"}
          .modal-dialog
            .modal-content
              = render partial: "users/form"

        .modal.fade#login_modal{tabindex: "-1"}
          .modal-dialog
            .modal-content
              = render partial: "users/login"

  = render partial: "footer"
- else
  #white_main
    = render partial: "navbar"


    .center{style: "text-align:center;"}
      = image_tag "banner_alternative.png"
      %h2{style: "color: #2ac583;"} Congratulations! You have successfully signed up for Bab Shuttle!

      %h4{style: "width:750px; margin: 0 auto;color:#888888;"}
        You can now order groceries by clicking the "Order" tab at the top.
      #countdown_div{style: "margin-top:100px;"}
        #countdown
        #note.green
    = render partial: "footer"
