- if @current_user.nil?
  #main
    = render partial: "navbar"
    #banner
      = image_tag "banner_final2.png"

    .center{style: "padding-bottom:20px;"}
      #signup_explanation
        %p
          Sign up before September 2nd, 2013 for promotion prices.
        #countdown_div
          #countdown
          #note
        %button{href: "#signup_modal", class: "btn btn-primary", data: {toggle: "modal"}}
          Sign Up for Free
        .modal.fade#signup_modal{tabindex: "-1"}
          .modal-dialog
            .modal-content
              = render partial: "users/form"

        .modal.fade#login_modal{tabindex: "-1"}
          .modal-dialog
            .modal-content
              = render partial: "users/login"

  = render partial: "footer"
- else
  #white_main
    = render partial: "navbar"


    .center{style: "text-align:center;"}
      = image_tag "banner_alternative.png"
      %h2{style: "color: #2ac583;"} Congratulations! You have successfully signed up for Bab Shuttle!

      %h4{style: "width:750px; margin: 0 auto;color:#888888;"}
        You can now order groceries by clicking the "Order" tab at the top.
      #countdown_div{style: "margin-top:100px;"}
        #countdown
        #note.green
    = render partial: "footer"
