#order_form
	%h2 Order Korean groceries!
	= form_for(@order) do |f|
		.form-group
			= f.label :items
			= f.text_area :items, class: "form-control", placeholder: "Please be as specific as possible and separate items with commas. 예) 신라면 블랙 20개입, 쌀 한 포대 20불 미만, 썬 김치 큰 통, 흰 양파 6개, 처음처럼 24병, 참이슬 후레쉬 1병, 동원 참치 3개입, 백설 군만두", rows: 18, id: "items", value: flash[:items]
		
		= f.fields_for :user do |uf|
			.form-group
				= uf.label :phone_number
				= uf.text_field :phone_number, class: "form-control", placeholder: "510-542-1892", value: @current_user.phone_number

		= f.fields_for :address do |af|
			.form-group.form-inline
				= af.label :street
				%br
				- if @last_order
					= af.text_field :street, class: "form-control", style: "width:200px;", placeholder: "Street", value: @last_order.address.street
					= af.text_field :apt, class: "form-control", style: "width:100px;", placeholder: "APT #", value: @last_order.address.apt
					= af.text_field :zipcode, class: "form-control", style: "width:100px;", placeholder: "Zipcode", value: @last_order.address.zipcode
				- else
					= af.text_field :street, class: "form-control", style: "width:200px;", placeholder: "Street"
					= af.text_field :apt, class: "form-control", style: "width:100px;", placeholder: "APT #"
					= af.text_field :zipcode, class: "form-control", style: "width:100px;", placeholder: "Zipcode"
		.form-group
			= f.label :time
			= f.collection_select :time, @dates, :last, :first, {}, {class: "selectpicker", data: {width: "150px", style: "btn-info"}}
			%select{class: "selectpicker", data: { width: "150px", style: "btn-success"}}
				%option 6 ~ 9 pm
		.form-group
			- if current_page?(edit_order_path(@order))
				= f.submit "Edit", class: "btn btn-primary", data: { disable_with: "Editing"}
			- else
				= f.submit "Order", class: "btn btn-primary", data: { disable_with: "Ordering"}
			We charge 10 dollars for each delivery. We also accept debit/credit cards.
		