#white_main
	= render partial: "home/navbar"
	.center
		- if @current_user.admin?
			%h2.green Order History
		- else
			%h2.green #{@current_user.name}'s Order History
		%table.table.table-hover

			%colgroup
				%col{style: "width:5%;"}
				%col{style: "width:10%;"}
				%col{style: "width:50%;"}
				%col{style: "width:10%;"}
				%col{style: "width:30%;"}
			%thead
				%tr
					%th.green #
					%th.green Order by
					%th.green Items
					%th.green Date
					%th.green Address
			%tbody
				- @orders.each_with_index do |order, index|
					%tr
						%td 
							= link_to index + 1
						%td= order.user.name
						%td
							- if order.editable?
								= link_to order.items, edit_order_path(order)
							- else
								= link_to order.items, order
						%td= order.time.strftime("%m/%d/%Y")
						- if order.address
							%td= order.address.full_address
						- else
							%td


		= render partial: "home/footer"